@using Peach.Data.Domain
@helper MainMenuLink(string action, string controller, string title)
{
    var url = Url.Action(action, controller);
    var currentUrl = Request.Path;

    if (url == currentUrl)
    {
        @Html.Raw("<li class=\"active\"><a href=\"" + url + "\">" + title + "</a></li>")
    }
    else if (url != null && currentUrl.StartsWith(url) && url != "/")
    {
        @Html.Raw("<li class=\"active\"><a href=\"" + url + "\">" + title + "</a></li>")
    }
    else
    {
        @Html.Raw("<li><a href=\"" + url + "\">" + title + "</a></li>")
    }
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        
        <!-- Feeds -->
        <link rel="alternate" type="application/atom+xml" title="The Hadouken blog feed" href="http://www.hdkn.net/blog/feed/atom">

        @RenderSection("Styles", false)
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    @MainMenuLink("Index", "Home", "Home")
                    @MainMenuLink("Index", "Blog", "Blog")
                    @MainMenuLink("Index", "Features", "Features")
                    @MainMenuLink("Index", "Download", "Download")
                    @MainMenuLink("Index", "Plugins", "Plugins")
                    <li><a href="http://forum.hdkn.net">Forum</a></li>
                    <li><a href="http://wiki.hdkn.net">Wiki</a></li>
                </ul>
                
                <h3 class="text-muted">Hadouken</h3>
            </div>
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="subheader">
                    <div class="pull-left">
                        @RenderSection("Actions", false)
                    </div>
                    
                    <div class="pull-right">
                        @ViewBag.UserName (@Html.ActionLink("sign out", "SignOut", "Users"))
                    </div>
                </div>
                
                <div class="clearfix"></div>
            }
            
            @RenderBody()
        </div>
        
        @if (!User.IsInRole(Role.Administrator) && !string.IsNullOrWhiteSpace(ViewBag.TrackingCode))
        {
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '@ViewBag.TrackingCode', 'hdkn.net');
                ga('send', 'pageview');
            </script>
        }

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.timeago.js"></script>
        <script src="~/Scripts/Site.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>
