@using Peach.Data.Domain
@model BlogPost

@{
    ViewBag.Title = Model.Title + " - Hadouken";
}

@helper Markdown(string input)
{
    var md = new MarkdownSharp.Markdown().Transform(input);
    @(new HtmlString(md))
}

@if (User.IsInRole(Role.ContentWriter))
{
    @section Actions
    {
        @Html.ActionLink("Edit blog post", "Edit", new{id = Model.Id})
    }
}

<h3>
    @Model.Title
    <small class="timeago" title="@Model.PublishedDate.ToString("yyyy-MM-ddTHH:mm:sszzz")"></small>
</h3>

@Markdown(Model.Content)

<hr />

<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'hdkn';
        var disqus_identifier = '@Model.Slug';
        var disqus_title = '@Model.Title';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
