@using Peach.Data.Domain
@model Release

@{
    ViewBag.Title = "Download | Hadouken";
}

@helper GetExtension(Uri uri)
{
    if (Path.HasExtension(uri.AbsolutePath))
    {
        @Html.Raw(Path.GetExtension(uri.AbsolutePath))
    }
    
    @Html.Raw("")
}

@helper Markdown(string input)
{
    var md = new MarkdownSharp.Markdown().Transform(input);
    @(new HtmlString(md))
}

@if (User.IsInRole(Role.Administrator))
{ 
    @section Actions
    {
        @Html.ActionLink("New release", "New")
    }   
}

@if (Model.Version.Contains("-"))
{
    <div class="bs-callout bs-callout-warning">
        <h4>We are currently in beta</h4>
        <p>The available version of Hadouken is beta software. This means it can possibly crash and you may lose data. We try our best to make sure this does not happen, and we run Hadouken
            ourselves as well to find any current problems.</p>
    </div>
}

<h3>
    Hadouken @Model.Version
    @foreach (var file in Model.Files.OrderBy(f => Path.GetExtension(f.DownloadUri.AbsolutePath)))
    {
        <a href="@file.DownloadUri" class="btn btn-success">@GetExtension(file.DownloadUri)</a>
    }
</h3>

<h4>Release notes</h4>

@Markdown(Model.ReleaseNotes)