@using Peach.Data.Domain
@model Plugin
           
@helper Markdown(string input)
{
    var md = new MarkdownSharp.Markdown().Transform(input);
    @(new HtmlString(md))
}

@{
    ViewBag.Title = @Model.Name + " | Plugins | Hadouken";
    var latestRelease = Model.Releases.OrderByDescending(r => r.ReleaseDate).FirstOrDefault();
}

<h3>@Model.Name <small>@(latestRelease != null ? latestRelease.Version.ToString() : "")</small></h3>

@if (latestRelease == null)
{
    <p><em>(this plugin has made no releases yet)</em></p>
}
else
{
    @Markdown(latestRelease.ReleaseNotes)

    <h4>Releases</h4>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 30%;">Version</th>
                <th>Release date</th>
                <th>Direct download</th>
            </tr>
        </thead>
            
        @foreach (var release in Model.Releases.OrderByDescending(r => r.ReleaseDate))
        {
            <tr>
                <td>@release.Version</td>
                <td>@release.ReleaseDate.ToString("yyyy-MM-dd")</td>
                <td><a href="@release.DownloadUri">@Model.Name-@(release.Version).zip</a></td>
            </tr>
        }
    </table>
}