@model Peach.Web.Models.EditPluginDto

@{
    ViewBag.Title = "Edit plugin | Hadouken";
}

<h3>Edit plugin '@Model.Name'</h3>

<form class="form-horizontal" role="form" action="@Url.Action("Edit", new{pluginId = Model.Name})" method="POST">
    <div class="form-group">
        <label class="control-label col-lg-2">Name</label>
        <div class="col-lg-10">
            <p class="form-control-static">@Model.Name</p>
        </div>
    </div>
    <div class="form-group">
        <label for="homepage" class="control-label col-lg-2">Homepage</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="homepage" name="homepage" value="@Model.Homepage"/>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="control-label col-lg-2">Description</label>
        <div class="col-lg-10">
            <textarea id="description" name="description" class="form-control" rows="2">@Model.Description</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</form>